@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-repeat: repeat;
  background-image: url("assets/svg/Bg.svg");
  background-color: #1e1e1e;
  color: white;
  font-family: "Sysfont";
}

@font-face {
  font-family: "M6x11plus";
  src: url("assets/fonts/m6x11plus.otf");
}

@font-face {
  font-family: "PixelOperator8-Bold";
  src: url("assets/fonts/PixelOperator8-Bold.otf");
}

@font-face {
  font-family: "PixelOperator8";
  src: url("assets/fonts/PixelOperator8.otf");
}

@font-face {
  font-family: "Sysfont";
  src: url("assets/fonts/sysfont.otf");
}
